/************************ PREMIERE PARTIE ************************/
body{
    margin: 0;
    padding: 0;
}

.PremierePartie{
    background: linear-gradient(
    180deg,
    #070320 0%,
    #0b062f 100%
    );
    height: 500vh;
}

/************************ NAVBAR 1 ************************/
.navbar1{
    padding-top: 1rem;
    height: 6rem;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;

}

.logoAS{
    height: 8rem;
    width: 7rem;
    padding-left: 0.5rem;
}

ul{
    display: flex;
    gap: 2rem;
    padding: 0rem 2rem;
    align-items: center;
}
ul li{
    list-style: none;
}

.btn1{
    background-color: #D80027;
    border: none;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

/************************ STEP 1 ************************/

.step1{
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}

.leftSide{
    color: white; 
}

.leftSide h1{
    font-size: 4rem;
}

.leftSide .btn1{
    background: linear-gradient(
    90deg,
    #D80027 0%,
    #FB9E3C 100%
    );
    margin-top: 2rem;

}

.imageSplit{
  display: flex;
  width: 60rem;
  height: 45rem;
  border-radius: 20px;
  overflow: hidden;
}

.img-left, .img-right{
    width: 52%;          
    height: 70%;        
    object-fit: cover;
}

/* Polygon = haut gauche, haut droite, bas droite, bas gauche */
.img-left{
  clip-path: polygon(
    0 0,
    100% 0,
    92% 100%,
    0 100%
  );
}

.img-right{
  margin-left: -4%;
  clip-path: polygon(
    8% 0,
    100% 0,
    100% 100%,
    0 100%
  );
}

/************************ STEP 2 ************************/

.step2{
    display: flex;
    justify-content: space-between;
    padding: 0rem 10rem;
    color: white;
}

.step2 .btn1{
    width: 139px;
    height: 57px;
    background-color: #1a1a1a; 
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

/************************ STEP 3 ************************/

.step3{
    display: flex;
    justify-content: center;
    gap: 5rem;
    color: white;
    margin-top: 3rem;
}

.card .imgCard{
    width: 15rem;
    height: 20rem;
    border-radius: 20px;
    object-fit: cover;
}

.miniCard{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.miniCard img{
    width: 1rem;
    height: 1rem;
}

/************************ STEP 4 ************************/
.step4{
    color: white;
    text-align: center;
    margin-top: 10rem;
    font-size: 1.2rem;
}

/************************ STEP 5 ************************/

.step5{
    color: white;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1100px;   
    margin-left: auto;
    margin-right: auto;
}

/************************ STEP 6 ************************/

.step6{
    width: 100%;
    height: 120vh;
    position: relative;
    overflow: hidden;
    margin-top: 5rem;
}

.imgBG {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url("./assets/img/warzoneBG.jpg");
    background-size: cover;
    filter: blur(1.5px);
    /*x-offset | y-offset | blur | spread*/
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2); 
}

.step6 .title{
    margin-top: 4rem;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step6 .title p{
    font-size: 1.2rem;
}

.services{
    margin-top: 4rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.services .card{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 1rem;
    font-weight: 700;
}






/* CSS Partie login */

.authentification{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6); /* fond sombre */
    width: 100%;
    height: 100%;
    color: white
}

.authentificationContent{
    background-color: black;
    width: 500px;
    height: 300px;

    display: flex;
    flex-direction: column;   /* empile verticalement */
    justify-content: center;  /* centre verticalement */
    align-items: center;      /* centre horizontalement */

    padding: 2rem;
    gap: 1rem;                /* espace entre les éléments */
}

.authentificationContent input {
    width: 100%;
    max-width: 350px;
    padding: 0.5rem;
}

.authentificationContent button {
    margin-top: 0.5rem;
}

.authentificationContent p {
    font-size: 0.9rem;
}

.authentificationContent {
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

#switchMode {
    color: #E87D0E;           
    cursor: pointer;
    font-weight: 500;
    transition: color 0.2s ease;
}

#switchMode:hover {
    color: #ff9f3f;
    text-decoration: underline;
}
